<div class="
        indicator-number-panel
        position-absolute
        d-flex
        justify-content-center
        align-items-center
        flex-column
">
    <mat-form-field class="indicator-number-panel__hot position-relative">
        <input
                matInput
                name="hotTemperature"
                type="number"
                [(ngModel)]="hotTemperature"
                (ngModelChange)="onChanged(hotTemperatureModel, 'bordersForHotTemperature')"
                (blur)="onBlur(hotTemperatureModel)"
                (keypress)="onlyPositiveNumber($event)"
                [min]="bordersForHotTemperature[0]"
                [max]="bordersForHotTemperature[1]"
                maxlength="2"
                #hotTemperatureModel="ngModel"
        >
    </mat-form-field>

    <mat-form-field class="indicator-number-panel__cold position-relative">
        <input
                matInput
                name="coldTemperature"
                type="number"
                [(ngModel)]="coldTemperature"
                (ngModelChange)="onChanged(coldTemperatureModel, 'bordersForColdTemperature')"
                (blur)="onBlur(coldTemperatureModel)"
                (keypress)="onlyPositiveNumber($event)"
                [min]="bordersForColdTemperature[0]"
                [max]="bordersForColdTemperature[1]"
                maxlength="2"
                #coldTemperatureModel="ngModel"
        >
    </mat-form-field>
</div>
