@import "variables";
@import "mixins";

$d: 220px;

.indicator-number-panel {
  @include w_h($d, $d);
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  top: 50%;
  margin-top: -$d/2;
  margin-left: -$d/2;

  .input {
    &:before {
      position: absolute;
    }
    &:after {
      position: absolute;
    }
  }

  &__hot {
    color: $hot_color;
  }

  &__cool {
    color: $cool_color;
  }

  & /deep/ .mat-form-field {
    width: 60px;
    font-size: 32px;
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-form-field-underline {
      bottom: 0;
    }
    .mat-form-field-infix {
      border-top: none;
      padding-bottom: 2px;
    }
    .mat-input-element {
      padding-left: 15%;
    }
  }
}