@import "variables";
@import "mixins";

.schedule-wrapper {
  min-height: 100vh;
  background-color: $plugin_bg_color;
  padding-top: 50px;
  &__title {
    @include font-config('Helvetica', 32px, 800, #3F4047, 39px) {
      letter-spacing: 1.5px;
      margin-bottom: 60px;
    }
    &:after {
      position: absolute;
      content: '';
      display: block;
      @include w_h(24, 24px);
      background: url('/assets/ic_rectangle_question.svg') no-repeat;
    }
  }
}

#calendar {
  margin: 0 auto;
  background-color: #fff;

  & /deep/ td {
    border-color: $border_cells_color;
  }

  & /deep/ .fc-license-message {
    display: none;
  }

  & /deep/ .fc-head .fc-resource-area {
    border: none;
    background-color: $plugin_bg_color;
  }

  & /deep/ .fc-rows {
    .fc-widget-content > div {
      height: 80px !important;
      .fc-cell-content {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        .fc-cell-text {
          @include font-config('Helvetica', 14px, bold, #3F4047, 17px) {
            letter-spacing: 0.6px;
          }
        }
      }
    }
  }

  & /deep/ .fc-timeline {
    .fc-divider {
      width: 0;
    }

    .fc-widget-header {
      border: none;
      background-color: $plugin_bg_color;

      .fc-scroller-clip {
        overflow: visible;
        .fc-scroller {
          position: relative;
          left: -22px;
          top: -10px;
          height: 60px;
        }
      }

      .fc-cell-content {
        overflow: visible;
        .fc-cell-midday {
          position: relative;
          top: 15px;
          left: -30px;
          @include font-config('Helvetica', 10px, bold, #B3B2CB, 14px);
        }

        .fc-cell-text {
          @include font-config('Helvetica', 14px, bold, #3F4047, 17px);
        }
      }
    }

    .fc-resource-area {
      border-color: $border_calendar_color;
      border-right-color: $border_cells_color;
      .fc-widget-content {
        border-bottom: 1px solid #fff;
      }
    }

    .fc-time-area {
      border-color: $border_calendar_color;
    }

    .fc-body {
      border-color: $border_calendar_color;
    }
  }

  & /deep/ .event-thermostat {
    margin: 13px 0 3px 0;
    border: none !important;
    padding: 0;
    @include w_h(auto, 52px);
    .fc-content {
      padding: 0;
      display: flex;
      height: 100%;
      border-radius: 4px;
    }
    .fc-title {
      display: none;
    }
    &__icon {
      @include w_h(43px, 100%);
      background-color: #7067CC;
      border: none;
      position: relative;
      flex: none;
      &:before {
        position: absolute;
        content: '';
        @include w_h(16px, 16px);
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -8px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.settings {
        &:before {
          background-image: url('/assets/ic_settings@3x.png');
        }
      }
      &.home {
        &:before {
          background-image: url('/assets/ic_home@3x.png');
        }
      }
      &.sleep {
        &:before {
          background-image: url('/assets/ic_sleep@3x.png');
        }
      }
      &.away {
        &:before {
          background-image: url('/assets/ic_away@3x.png');
        }
      }
    }
    &__temperature {
      flex: auto;
      align-items: center;
      padding-left: 10px;
      transition: opacity ease-in 0.3s;
      &__hot {
        color: $hot_color;
        &:after {
          border-color: $hot_color;
        }
      }
      &__cold {
        color: $cold_color;
        &:after {
          border-color: $cold_color;
        }

        &:before {
          content: '\2190' !important;
          right: initial;
          left: -10px;
          top: 1px !important;
        }
      }
      & > span {
        position: relative;
        &:not(:last-child) {
          margin-right: 20px;
        }

        &:after {
          position: absolute;
          top: 2px;
          right: -7px;
          content: '';
          display: block;
          @include w_h(3px, 3px);
          background-color: transparent;
          border: 1px solid;
          border-radius: 50%;
        }
        &:before {
          position: absolute;
          display: inline-block;
          content: '\2192';
          font-size: 8px;
          right: -17px;
          top: 5px;
        }
      }
    }
  }
}