<div class="indicator-wrapper" [ngClass]="[defaultBackground]" #indicator>
    <span
            [ngClass]="['indicator-line-' + i]"
            class="indicator-line position-absolute"
            *ngFor="let el of totalElementsArr; let i = index"></span>

    <termostat-indicator-ranger
        #coolRanger
        [indicatorProperty]="'coolTemperature'"
        [indicatorPropertyBorders]="'bordersForHotTemperature'"
        [maxGraduce]="maxGraduceInNumber"
        [currentStep]="step"
        [minBorderInDeg]="minBorderInRotateDeg"
        [maxBorderInDeg]="maxBorderInRotateDeg"
        [currentGraduceInNumber]="coolTemperature"
        [circleElement]="indicator"
        [borders]="bordersForCoolTemperature"
        (changeRander)="updateGraduceInNumber($event)"
        (updateBorders)="updateBorders($event)"
    ></termostat-indicator-ranger>

    <termostat-indicator-ranger
            #hotRanger
            [indicatorProperty]="'hotTemperature'"
            [indicatorPropertyBorders]="'bordersForCoolTemperature'"
            [maxGraduce]="maxGraduceInNumber"
            [currentStep]="step"
            [minBorderInDeg]="minBorderInRotateDeg"
            [maxBorderInDeg]="maxBorderInRotateDeg"
            [currentGraduceInNumber]="hotTemperature"
            [circleElement]="indicator"
            [borders]="bordersForHotTemperature"
            (changeRander)="updateGraduceInNumber($event)"
            (changeBackground)="updateBackground($event)"
            (updateBorders)="updateBorders($event)"
    ></termostat-indicator-ranger>

    <termostat-indicator-number-panel
        [hotTemperature]="hotTemperature"
        [coolTemperature]="coolTemperature"
        [maxGraduce]="maxGraduceInNumber"
        (changeTemperature)="updateGraduce($event)"
    ></termostat-indicator-number-panel>
</div>
