@import "variables";
@import "mixins";

.indicator-wrapper {
  @include w_h();
  border-radius: 50%;
  transition: all ease-in 0.2s;

  .indicator-line {
    @include w_h(28px, 1px);
    background-color: #fff;
    opacity: 0;
  }

  &.cool {
    background-color: #00C5DE;
  }

  &.hot {
    background-color: #F64F69;
  }
}