<!--<termostat-indicator-number-panel></termostat-indicator-number-panel>-->
<div class="indicator-wrapper" [ngClass]="[mode]" #indicator>
    <span
            [ngClass]="['indicator-line-' + i]"
            class="indicator-line position-absolute"
            *ngFor="let el of totalElementsArr; let i = index"></span>

    <termostat-indicator-ranger
        #coolRanger
        [mode]="'coolTemterature'"
        [maxGraduce]="maxGraduceInNumber"
        [currentStep]="step"
        [minBorderInDeg]="minBorderInRotateDeg"
        [maxBorderInDeg]="maxBorderInRotateDeg"
        [currentGraduceInNumber]="coolTemperature"
        [circleElement]="indicator"
        (changeRander)="updateGraduceInNumber($event)"
    ></termostat-indicator-ranger>

    <termostat-indicator-number-panel
        [hotTemperature]="hotTemperature"
        [coolTemperature]="coolTemperature"
        [maxGraduce]="maxGraduceInNumber"
        (changeTemperature)="updateGraduce($event)"
    ></termostat-indicator-number-panel>
</div>
