<div class="row panel">
    <div
            class="mode cold col-6 position-relative"
            (click)="onChangeMode('cold')"
            [class.active]="type === 'cold'"
    >
        <span class="text">Cool</span>

        <div class="icon position-absolute"></div>
    </div>

    <div
            class="mode heat col-6 position-relative"
            (click)="onChangeMode('heat')"
            [class.active]="type === 'heat'"
    >
        <span class="text">Heat</span>

        <div class="icon position-absolute"></div>
    </div>

    <div
            class="mode auto col-6 position-relative"
            (click)="onChangeMode('auto')"
            [class.active]="type === 'auto'"
    >
        <span class="text">Auto</span>

        <div class="icon position-absolute"></div>
    </div>

    <div
            class="mode off col-6 position-relative"
            (click)="onChangeMode('off')"
            [class.active]="type === 'off'"
    >
        <span class="text">Off</span>

        <div class="icon position-absolute"></div>
    </div>
</div>