@import "variables";
@import "mixins";

$border-color: #F2F7FA;

.panel {
  border: 1px solid $border-color;
  border-radius: 5px;
  cursor: pointer;
  .mode {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include font-config('Helvetica', 20px, 400, #A6A5C2, 24px) {
      letter-spacing: 0.3px;
    }

    .text {
      cursor: pointer;
    }

    &.active {
      background-color: #fff;
    }

    &.cold {
      .icon {
        background-image: url('/assets/ic_auto.svg');
      }
      &.active {
        color: $cold_color;
        .icon {
          background-image: url('/assets/ic_cool_act.svg');
          background-color: #E5F9FB;
        }
      }
    }

    &.heat {
      .icon {
        background-image: url('/assets/ic_heat.svg');
      }
      &.active {
        .text {
          color: $hot_color;
        }
        .icon {
          background-image: url('/assets/ic_heat_act.svg');
          background-color: #FEEDF0;
        }
      }
    }

    &.auto {
      .icon {
        background-image: url('/assets/ic_auto.svg');
      }
      &.active {
        .text {
          color: $auto_color;
        }
        .icon {
          background-image: url('/assets/ic_auto_act.svg');
          background-color: #F0EFF9;
        }
      }
    }

    &.off {
      .icon {
        background-image: url('/assets/ic_off.svg');
      }
      &.active {
        .text {
          color: $off_color;
        }
        .icon {
          background-image: url('/assets/ic_off_act.svg');
          background-color: #F6F6F8;
        }
      }
    }

    .icon {
      top: 10px;
      right: 10px;
      border-radius: 50%;
      background: rgba(166, 165, 194, 0.13) no-repeat center center;
      @include w_h(20px, 20px);
    }

    &:nth-child(odd) {
      border-right: 1px solid $border-color;
    }

    &:nth-child(1), &:nth-child(2) {
      border-bottom: 1px solid $border-color;
    }
  }
}