<div class="row panel">
    <div class="mode col-6 position-relative">
        <span class="text">Cool</span>

        <div class="icon cool position-absolute">
            <!--<mat-icon svgIcon="cool"></mat-icon>-->
        </div>
    </div>

    <div class="mode col-6 position-relative">
        <span class="text">Heat</span>

        <div class="icon heat position-absolute">
            <!--<mat-icon svgIcon="heat"></mat-icon>-->
        </div>
    </div>

    <div class="mode col-6 position-relative">
        <span class="text">Auto</span>

        <div class="icon auto position-absolute">
            <!--<mat-icon svgIcon="auto"></mat-icon>-->
        </div>
    </div>

    <div class="mode col-6 position-relative">
        <span class="text">Off</span>

        <div class="icon off position-absolute">
            <!--<mat-icon svgIcon="off"></mat-icon>-->
        </div>
    </div>
</div>