@import "variables";
@import "mixins";

$d: 8px;
$dActive: 12px;

$hCircle: 18px;
$hCircleActive: 22px;

.indicator-ranger {
  top: 50%;
  left: 50%;

  @include w_h(50%, 1px);
  transform-origin: center left;
  &:after {
    position: absolute;
    display: block;
    content: '';
    @include w_h(40px, 3px);
    top: -1.5px;
    right: 4px;
    background-color: #fff;
  }

  &__circle {
    position: absolute;
    @include w_h($hCircle, $hCircle);
    border-radius: 50%;
    background-color: #fff;
    cursor: nesw-resize;
    top: -9px;
    right: -14px;
    transition: all ease-in 0.2s;
    border: 1px solid;

    &-small {
      position: absolute;
      display: block;
      content: '';
      @include w_h($d, $d);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      margin-left: -$d/2;
      margin-top: -$d/2;
      transition: all ease-in 0.2s;
    }

    &.active {
      @include w_h($hCircleActive, $hCircleActive);
      top: -11px;
      right: -16px;
      .indicator-ranger__circle-small {
        @include w_h($dActive, $dActive);
        margin-top: -$dActive/2;
        margin-left: -$dActive/2;
      }
    }
  }
}